<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javis.wearsyncservice">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
            Because android:exported is set to "false",
            the service is only available to this app.
        -->
        <service
            android:name=".SendWatchMessageIntentService"
            android:exported="false" />

        <!-- Change adjustNothing to adjustPan after you do the real layout -->
        <activity
            android:name=".SendMsgActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".signUpBrush"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

<!--

            <intent-filter> &lt;!&ndash; THE CORRCET FIRST SCREEN!!! &ndash;&gt;
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->

        </activity>
        <activity android:name=".signUpWithInfoName" />
        <activity android:name=".toSignUpWithInfoAge" />
        <activity android:name=".weeklyQuestions" />
        <activity android:name=".learnMore" />
        <activity android:name=".updatedDashboard" />
        <activity android:name=".updatedDashboardGraph" />
        <activity android:name=".updatedDashboardHome" />
        <activity android:name=".notificationsSet"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            </activity>
        <activity android:name=".settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
            </activity>
        <activity android:name=".simplePlot" />
        <activity android:name=".pictureSelect" />
        <activity
            android:name=".childQuestionsPink"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".childQuestionsOrange"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".childQuestionsBlue"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ColouredQActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".DashboardDay"
            android:label="Dashboard"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/Theme.AppCompat" -->
        <activity android:name=".unupdatedDashboardGraph" />
        <activity android:name=".unupdatedDashboardHome" />
        <activity
            android:name=".signUpTrack"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".signUpCare"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".SlidingMenuActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <!-- <activity android:name=".ImageSelectActivity"> -->


        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        -->
        <!-- </activity> -->
        <activity
            android:name=".CircCropActivity"
            android:theme="@style/FoxDialogueTheme">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity android:name=".DrawerImplementation">

            <!--
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".CircCropImplementation">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name=".PhoneWearableListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".NotificationView"
            android:label="@string/title_activity_notification_view"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".CustomDialog"
            android:theme="@style/FoxDialogueTheme" />
        <activity android:name=".DashboardWeek" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".Registration2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>
